/*$black: #080808;
$brown: #640303;
$boardOLD: #fafaf8;

$dark-purple: #5e3577;
$dark-brown: #7b3920;
$light-blue: #73d3ff;
$purple: #b02f7c;
$orange: #fa811d;
$red: #f50c2b;
$yellow: #ffed20;
$green: #41994e;
$dark-blue: #5a6dba;
$royal-blue: #008ac9;
$dark-yellow: #ca0;*/
* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.Brown {
  background-color: #7b3920;
  color: #000; }

.LightBlue {
  background-color: #73d3ff;
  color: #000; }

.Pink {
  background-color: #e91e63;
  color: #000; }

.Orange {
  background-color: #fa811d;
  color: #000; }

.Red {
  background-color: #f50c2b;
  color: #000; }

.Yellow {
  background-color: #ffed20;
  color: #000; }

.Green {
  background-color: #41994e;
  color: #000; }

.DarkBlue {
  background-color: #2265ef;
  color: #000; }

.table {
  padding-left: 50px;
  padding-right: 50px; }

.board {
  display: inline-grid;
  grid-template-columns: 11.69408vmin repeat(9, 7.40132vmin) 11.69408vmin;
  grid-template-rows: 11.69408vmin repeat(9, 7.40132vmin) 11.69408vmin;
  grid-gap: 2px;
  background: #000;
  border: 2px solid #000;
  vertical-align: top; }

.center {
  grid-column: 2 / 11;
  grid-row: 2 / 11;
  background: #000;
  color: #eee;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative; }

.title {
  grid-column: 1 / 9;
  grid-row: 4;
  font-size: 90px;
  font-weight: 400;
  letter-spacing: 12px;
  text-align: center; }

.community-chest-deck {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  transform: rotate(135deg);
  margin-bottom: 60px;
  margin-right: 60px; }

.chance-deck {
  grid-column: 5 / 7;
  grid-row: 5 / 7;
  transform: rotate(315deg);
  margin-top: 60px;
  margin-left: 60px; }

.label {
  text-align: center;
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 10px; }

.deck {
  border: 2px dashed #000;
  width: 160px;
  height: 120px; }

.row {
  display: grid;
  grid-gap: 2px; }

.horizontal-row {
  grid-template-columns: repeat(9, 7.40132vmin);
  grid-template-rows: 11.69408vmin; }

.vertical-row {
  grid-template-columns: 11.69408vmin;
  grid-template-rows: repeat(9, 7.40132vmin); }
  .vertical-row .container {
    top: 50%;
    left: 50%; }

.bottom-row {
  grid-column: 2 / 11;
  grid-row: 11; }

.left-row {
  grid-column: 1;
  grid-row: 2 / 11; }
  .left-row .container {
    transform: translate(-50%, -50%) rotate(90deg); }

.top-row {
  grid-column: 2 / 11;
  grid-row: 1; }

.right-row {
  grid-column: 11;
  grid-row: 2 / 11; }
  .right-row .container {
    transform: translate(-50.5%, -50%) rotate(270deg); }

.space {
  text-transform: uppercase;
  background: #eee;
  text-align: center;
  color: #000;
  overflow: hidden;
  display: inline-block; }
  .space .container {
    font-size: 1.15vmin;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 11.69408vmin;
    width: 7.40132vmin;
    word-break: break-word; }
    .space .container .mortgaged-ban-symbol {
      -webkit-text-stroke: 0.2vmin #000000;
      font-size: 4vmin;
      color: #b10000;
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 100%;
      z-index: 1; }
  .space .strikethrough-text {
    text-decoration: line-through; }
  .space .price {
    font-size: 2vmin;
    font-weight: bold;
    position: absolute;
    bottom: 3%;
    left: 0;
    right: 0;
    text-align: center; }
  .space .info {
    flex: 1;
    position: relative;
    padding: 15% 3% 5% 3%;
    text-align: center; }

.corner .container {
  justify-content: space-around;
  height: 100%;
  width: 100%; }

.corner .name {
  padding: 0; }

.property .color-bar {
  height: 20%;
  position: relative;
  width: 100%;
  border-bottom: 2px solid #000; }

.property .name {
  padding-bottom: 20px; }

.railroad .drawing {
  font-size: 4.5vmin;
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50% + 0.5vw); }

.utility .name {
  padding-top: 10px; }

.utility .drawing {
  font-size: 5vmin; }

.fee .name {
  padding-top: 10px;
  font-size: 14px; }

.fee .instructions {
  font-size: 12px; }

.go {
  grid-column: 11;
  grid-row: 11 / 12;
  position: relative; }
  .go .container {
    justify-content: flex-start; }
  .go .instructions {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    padding: 15% 5% 5% 5%; }
  .go .go-word {
    font-size: 5vmin;
    color: #f50c2b;
    display: inline;
    text-align: center;
    font-weight: bold; }
  .go .arrow {
    font-size: 45px;
    color: #f50c2b;
    position: absolute;
    bottom: -10px;
    left: 5px; }

.jail {
  grid-column: 1;
  grid-row: 11 / 12;
  display: grid;
  grid-template-columns: repeat(10, 1.16941vmin);
  grid-template-rows: repeat(10, 1.16941vmin);
  justify-content: center;
  align-items: center; }
  .jail .drawing {
    grid-column: 4 / 11;
    grid-row: 1 / 8;
    width: 8.18586vmin;
    height: 8.18586vmin;
    background: #fa811d;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000; }
  .jail .just {
    grid-column: 3;
    grid-row: 4;
    transform: rotate(90deg);
    padding-top: 5px; }
  .jail .visiting {
    grid-column: 6;
    grid-row: 8;
    padding-top: 5px; }
  .jail .container {
    align-items: center;
    transform: rotate(45deg); }
  .jail .name {
    font-size: 14px; }
  .jail .window {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 50%;
    height: 50%;
    background: #eee;
    border: 2px solid #000; }
  .jail .person {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 40px; }
  .jail .bar {
    height: 100%;
    width: 8%;
    background: #000; }

.free-parking {
  grid-column: 1;
  grid-row: 1 / 2; }
  .free-parking .container {
    justify-content: center;
    transform: rotate(135deg); }
  .free-parking .name {
    font-size: 16px; }
  .free-parking .drawing {
    font-size: 5vmin;
    color: #f50c2b;
    padding-top: 5px;
    padding-bottom: 5px; }

.go-to-jail {
  grid-column: 11;
  grid-row: 1 / 1; }
  .go-to-jail .container {
    justify-content: center;
    transform: rotate(225deg); }
  .go-to-jail .name {
    font-size: 16px; }
  .go-to-jail .drawing {
    font-size: 5vmin;
    color: #7b3920;
    padding-top: 5px;
    padding-bottom: 5px; }

.chance .container {
  justify-content: center; }

.chance .drawing {
  font-size: 5vmin;
  color: #f50c2b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50% + 0.5vw); }

.chance .blue {
  color: #2265ef; }

.community-chest .container {
  justify-content: space-around; }

.community-chest .drawing {
  font-size: 5vmin;
  color: #008ac9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50% + 0.5vw); }

.community-chest .instructions {
  font-size: 8px; }

.electric-company .drawing {
  color: #ca0; }

.waterworks .drawing {
  color: #2265ef; }

.income-tax .container {
  justify-content: center;
  align-items: center; }

.income-tax .name {
  padding-bottom: 5px; }

.income-tax .diamond {
  width: 5px;
  height: 5px;
  background: #000;
  transform: rotate(45deg);
  display: inline-block; }

.income-tax .instructions {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px; }

.luxury-tax .drawing {
  font-size: 5vmin; }

.luxury-tax .instructions {
  padding-bottom: 5px;
  font-size: 20px; }

.long-name {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.three-line-name {
  position: relative;
  top: 10px; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.player-token-container {
  position: relative;
  font-size: 3.5vmin;
  width: 100%;
  height: 0px;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
  white-space: normal;
  position: absolute;
  top: 42%;
  left: 0;
  right: 0;
  text-align: center; }

.player-token {
  position: absolute;
  font-size: 3.5vmin;
  -webkit-text-stroke: 2px #000;
  text-shadow: 0.3px 0.35px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  z-index: 10; }

.player-name {
  display: inline-block;
  padding: 3px;
  color: #000;
  text-transform: none; }

.player-turn-glow {
  box-shadow: 0px 0px 2vmin 0.4vmin #fff; }

.Player-Background-Red {
  background-color: #ff8f8f; }

.Player-Background-Green {
  background-color: #8fff8f; }

.Player-Background-Blue {
  background-color: #8f8fff; }

.Player-Background-Yellow {
  background-color: #ffff8f; }

.Player-Background-Cyan {
  background-color: #8fffff; }

.Player-Background-Magenta {
  background-color: #ff8fff; }

.Player-Text-Red {
  color: #ff8f8f; }

.Player-Text-Green {
  color: #8fff8f; }

.Player-Text-Blue {
  color: #8f8fff; }

.Player-Text-Yellow {
  color: #ffff8f; }

.Player-Text-Cyan {
  color: #8fffff; }

.Player-Text-Magenta {
  color: #ff8fff; }

.selectable {
  cursor: pointer;
  filter: brightness(1.3); }

.selectable:hover {
  outline: 0.25vw solid #fff;
  position: relative;
  box-shadow: 0 0 15px 3px #000; }

.unselectable {
  opacity: 0.15; }

.center-panel {
  background-color: #000;
  position: absolute;
  top: 0;
  padding: 1%;
  width: 100%;
  height: 100%;
  z-index: 1; }

.trade-options-container {
  display: flex;
  flex-direction: row; }

.trade-options {
  display: inline-block;
  background-color: #333;
  padding: 10px;
  border: 1px solid #777;
  margin: 2px;
  flex: 1;
  font-size: 1.65vmin; }
  .trade-options ul {
    padding-left: 0.2vmin; }
    .trade-options ul li {
      display: flex;
      margin-top: 0.1vmin; }
      .trade-options ul li label {
        flex: 1;
        padding: 0.1vmin; }
    .trade-options ul input[type="checkbox"] {
      width: 1.65vmin;
      height: 1.65vmin; }
    .trade-options ul input[type="text"] {
      padding: 0.1vmin; }

.trade-offer {
  display: inline-flex;
  background-color: #444;
  flex-direction: column;
  margin: 10px;
  font-size: 1.5vmin;
  line-height: 1.5vmin;
  border: 1px solid #fff; }
  .trade-offer .title {
    font-weight: bold;
    background-color: #222;
    color: #fff;
    padding: 1vw;
    font-size: 2vmin; }
  .trade-offer .subtitle {
    font-weight: bold;
    font-size: 2vmin;
    line-height: 2vmin;
    font-style: italic;
    text-shadow: 1px 1px #000;
    padding-top: 1%;
    padding-bottom: 1%; }
  .trade-offer .outgoing {
    display: block;
    height: 50%;
    box-sizing: border-box;
    border-bottom: 1px solid #aaa;
    flex-grow: 1;
    padding: 5px; }
    .trade-offer .outgoing .subtitle {
      background-color: #a00; }
  .trade-offer .incoming {
    display: block;
    flex-grow: 1;
    padding: 5px; }
    .trade-offer .incoming .subtitle {
      background-color: #080; }

.property-color-circle {
  border-radius: 50%;
  width: 1.5vmin;
  height: 1.5vmin;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px; }

.house-container {
  font-size: 1.6vmin;
  display: inline-block;
  text-shadow: 1px 1px #000;
  color: lawngreen;
  text-align: left;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; }

.hotel-container {
  font-size: 2vmin;
  display: block;
  text-shadow: 1px 1px #000;
  -webkit-text-stroke: 0.2vmin #000000;
  font-size: 4vmin;
  color: #b10000;
  text-align: center; }

.button-container {
  flex: 1;
  width: 100%;
  position: relative; }
  .button-container .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }

.tile-info {
  border: 1px solid #fff;
  display: inline-block;
  padding: 1%;
  margin: 3%;
  min-width: 240px;
  position: absolute;
  top: 50px;
  background-color: #000;
  font-size: 1.6vmin; }
  .tile-info .list-value {
    float: right;
    padding-right: 10%;
    font-weight: bold; }
  .tile-info .green {
    color: #41994e; }
  .tile-info .red {
    color: #f50c2b; }

.player-stat-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.player-stat {
  position: relative;
  display: inline;
  padding: 2%;
  box-sizing: border-box;
  background-color: #333;
  color: #fff;
  font-size: 2vmin;
  font-family: Trebuchet MS;
  margin: 2%;
  text-align: center; }
  .player-stat .info-row {
    display: inline-flex;
    flex-direction: row; }
    .player-stat .info-row .token {
      font-size: 4vmin; }
    .player-stat .info-row .name-column {
      display: inline-flex;
      flex-direction: column;
      font-size: 2vmin;
      vertical-align: top;
      text-align: right; }
      .player-stat .info-row .name-column .name {
        font-size: 2vmin; }
      .player-stat .info-row .name-column .money {
        color: #0f0; }
    .player-stat .info-row .money.negative {
      color: #f00; }

.countdown {
  position: relative;
  height: 5vmin;
  width: 100%;
  text-align: center; }
  .countdown .countdown-number {
    color: white;
    display: inline-block;
    line-height: 5vmin; }
  .countdown .countdown-svg {
    width: 5vmin;
    height: 5vmin;
    transform: rotateY(-180deg) rotateZ(-90deg); }
    .countdown .countdown-svg .circle {
      stroke-dasharray: 113px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke: white;
      fill: none;
      animation: countdown 30s linear infinite forwards; }

@keyframes countdown {
  from {
    stroke-dashoffset: 0px; }
  to {
    stroke-dashoffset: 113px; } }

.popup-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  display: flex;
  z-index: 11;
  padding: 3%;
  flex-direction: column; }

.popup {
  flex: 1;
  background-color: #eee;
  color: #000;
  padding: 2%;
  border: 1vmin solid #444; }
  .popup .title {
    border-bottom: 1px solid #000;
    font-size: 6vmin; }
  .popup p {
    font-size: 3vmin;
    color: #444; }

.popup.trade-rejected-event-popup {
  border: 2vmin solid #f00;
  background-color: #fee; }

.popup.trade-accepted-event-popup {
  border: 2vmin solid #00f;
  background-color: #eef; }
